@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}
body {
  background: url(../img/blue-line.png) no-repeat 0 25.5%;
}
.home .container {
  max-width: 1700px;
  margin: auto auto;
}
.home__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin: 50px 0;
}
.home__title {
  font-size: 100px;
  line-height: 96px;
}
.home__subtitle {
  font-size: 75px;
  line-height: 96px;
  margin: 30px 0 0 0;
}
.home__image img {
  max-width: 100%;
}
.home__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 150px 0 100px 0;
}
.home__about {
  text-align: center;
  width: 50%;
}
.about__image img {
  width: 264px;
}
.about__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  line-height: 67px;
  margin: 20px 0 0 0;
  color: #002581;
}
.about__anima {
  margin: 70px 0 0 0;
}
.home__link {
  width: 50%;
  text-align: center;
}
.link__image img {
  width: 250px;
}
.link__link {
  margin: 10px 0 0 0;
}
.link__link a {
  font-size: 50px;
  line-height: 67px;
  color: white;
  background-color: #25408F;
  padding: 15px 35px;
}
@media (max-width: 1700px) {
  body {
    background: url(../img/blue-line.png) no-repeat 0 28%;
  }
  .home .container {
    max-width: 1340px;
  }
  .home__text {
    width: 60%;
  }
  .home__title {
    font-size: 80px;
    line-height: 100px;
  }
  .home__subtitle {
    font-size: 50px;
    line-height: 50px;
  }
  .about__image img {
    width: 180px;
  }
  .about__text {
    font-size: 35px;
    padding: 0 40px;
  }
  .about__anima img {
    width: 90px;
  }
  .link__image img {
    width: 180px;
  }
  .link__link a {
    font-size: 30px;
  }
}
@media (max-width: 1340px) {
  body {
    background: url(../img/blue-line.png) no-repeat 0 25%;
  }
  .home .container {
    max-width: 1024px;
  }
  .home__text {
    width: 65%;
  }
  .home__image {
    width: 35%;
  }
}
@media (max-width: 570px) {
  body {
    background: url(../img/blue-line.png) no-repeat 0 41.5%/20%;
  }
  .home .container {
    max-width: 330px;
  }
  .home__top {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 20px 0 0 0;
  }
  .home__bottom {
    margin: 80px 0 40px 0;
    padding: 0 5px;
  }
  .home__text {
    width: 100%;
    margin: 30px 0 0 0;
  }
  .home__title {
    font-size: 40px;
    line-height: 0;
  }
  .home__subtitle {
    font-size: 30px;
    line-height: 40px;
    margin: 40px 0 0 0;
  }
  .home__image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .home__image img {
    width: 240px;
  }
  .about__image img {
    width: 60px;
  }
  .about__text {
    font-size: 11px;
    padding: 0;
    margin: 0;
    line-height: 20px;
  }
  .about__anima {
    margin: 40px 0 0 0;
  }
  .about__anima img {
    width: 60px;
  }
  .home__link {
    width: 35%;
  }
  .link__image img {
    width: 57px;
  }
  .link__link {
    margin: 0;
  }
  .link__link a {
    font-size: 10px;
    padding: 4px 8px;
    line-height: 20px;
  }
}
