@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmv1plEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmr19lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm111lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLFj_V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
* ul {
  list-style: none;
}
* a {
  text-decoration: none;
}
body {
  background: url(../img/yellow-circle.svg) no-repeat -5% -70%, url(../img/blue-line.svg) no-repeat 100% 70%;
}
.over .container {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto 250px auto;
  padding: 0 35px;
}
.mobile__back {
  display: none;
}
.over__text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.over__title h1 {
  font-size: 90px;
  font-weight: 400;
  color: #25408F;
}
.mobile__title {
  display: none;
}
.over__info {
  display: flex;
  align-items: center;
}
.over__info img {
  margin: 0 90px 0 0;
}
.over__info p {
  max-width: 730px;
  font-size: 26px;
  line-height: 35px;
}
.over__image {
  width: 35%;
}
.over__image img {
  max-width: 100%;
  border: 3px solid #FFF200;
}
@media (max-width: 1640px) {
  body {
    background: url(../img/yellow-circle.svg) no-repeat -15% -50%/50%, url(../img/blue-line.svg) no-repeat 100% 70%;
  }
  .over__title h1 {
    font-size: 70px;
  }
  .over__info p {
    font-size: 18px;
  }
}
@media (max-width: 570px) {
  body {
    background: url(../img/yellow-mobile.svg) no-repeat center -300px/570px, url(../img/blue-line.svg) no-repeat 100% 64%/25%;
  }
  .over .container {
    max-width: 330px;
    flex-direction: column-reverse;
    margin: 20px auto 80px auto;
  }
  .over__text {
    width: 100%;
  }
  .over__title {
    display: none;
  }
  .mobile__title {
    display: block;
    font-size: 40px;
    color: #25408F;
  }
  .over__image {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .over__image h1 {
    text-align: center;
    width: 330px;
    font-weight: 400;
  }
  .over__image img {
    width: 236px;
    margin: 150px 0 0 0;
  }
  .over__info {
    margin: 46px 0 0 0;
    justify-content: space-between;
  }
  .over__info p {
    font-size: 13px;
    line-height: 17px;
    width: 250px;
  }
  .over__info img {
    width: 36px;
    margin: 0;
  }
}
@media (max-width: 400px) {
  .over__image {
    align-items: center;
  }
}
